<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
<!--		@section Scripts {
		  <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" />
		}-->
    <!--<link href="~/Styles/main.css" rel="stylesheet"/>-->
	</head>
<body>
	@RenderBody()
</body>
</html>
