<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
		<link href="~/Styles/main.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab" rel="stylesheet">
	</head>
<body>
	@RenderBody()
</body>
</html>
