<!-- Declaring my model here -->
@model TestMVC.Models.FoobarView

<!-- It RENDERS stuff from my model?-->
<h2>@Model.FirstName @Model.LastName</h2>

<!-- I want to display the profile.jpg here -- HOW?!?!?!? -->
<img src="@Model.ProfileImagePath"/>
